<% provide(:title, "Learn More") %>  

<div class="container">
  <div class="users_type">
	  <div class="row">
	  	<div class="col-md-12 col-md-offset-2">
	  	  <div class="text text-center">
			  	<h1>Keep you peace of mind.</h1>
			    <h3>We provide all the service you needed for interior design.</h3>
			    
		    </div>
	  	</div>
	  </div>
  </div>
  
  <div class="describe">
    <h2>Which describe you better</h2>
  </div>

	<div class="row">
	
  	<div class="col-md-3 col-md-offset-0" >
  	
				<h3>Enthusiast </h3>
				<p>If you are interior design enthusiast looking for interior designers and products, please sign up here to get the lastest interior design ideas and products.</p>
		    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="fa fa-user-plus fa-lg"></i> Sign Up</button>
	  </div>

	  <div class="col-md-3 col-md-offset-1">
	
				<h3>Interior Designers</h3>
				<p>Looking for a place to show your design? Here is the best place to create your profile and FREE! Sign up now and enjoy more benefits</p>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="fa fa-user-plus fa-lg"></i> Sign Up</button>
    </div>

	  <div class="col-md-3 col-md-offset-1">
	  
				<h3>Seller</h3>
				<p>If you have something good quality designer piece to share with us. Please feel free to contact us NOW!</p>
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"><i class="fa fa-user-plus fa-lg"></i> Sign Up</button>
	  </div>
  </div>
  	 
</div>



