<div class="container">
  <div class="contact-form" style="width:85vmin; margin-left:auto; margin-right:auto; background-color:#F4F4F7;padding: 8vmin 5vmin; margin-bottom:50px; height:400px;">

  <div class="text-center">
    <h1 style="color:white; background-color:#5798E8; padding: 13px 10px; position: relative; top: -30px;">Contact Us</h1>
  </div>



  <h3 class="pull-left">Please contact us at <a href="mailto:info@inspaze.com?Subject=Hello%20again" target="_top">info@inspaze.com</a></h3>

  <h3 class="pull-left">We will get back to you as soon as possible.</h3>
    
  <h3 class="pull-left">Thanks.</h3>
  </div>
</div>

