
<div class="container">	

	

	<hr>

	<h3 class="text-center">
	  <strong>Album Title:</strong>
	  <%= @album.title %>
	</h3>
       
  <hr>

	<% @photos.each do |photo| %>
	<div class=" col-xs-6 col-md-3 album-image" style="padding:1vmin; margin-bottom: 5vmin">
	<%= link_to(image_tag(photo.image_url(:thumb)),album_photo_path(photo.album.id, photo.id), :"title" => photo.name, :class => "img-responsive" ) %>
</div>
	<% end %>

</div>