// Place all the styles related to the Designers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a{
	color: black;
}

.nav-pills>li>a:hover{
background-color: #BBBBBB;
	color: #E5E5E5;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
	color: #fff;
	background-color: black;
}